<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRENZ OFFICIAL</title>
    <link rel="stylesheet" href="/css/app.css/base.css">
    <link rel="stylesheet" href="/css/app.css/product.css">
    <link rel="stylesheet" href="/css/app.css/header.css">
    <link rel="stylesheet" href="/css/app.css/footer.css">
    <link rel="stylesheet" href="/css/app.css/home.css">
    <link rel="stylesheet" href="/css/app.css/detailProduct.css">
    <link rel="stylesheet" href="/css/app.css/about.css">
    <link rel="shortcut icon" href="./img/Logo_TrenZ.png" type="image/x-icon">

    <link rel="stylesheet" href="/icon/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;500&family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="web">
        {{> header}}
        {{{body}}}
        {{> footer}}
    </div>

    <script src="/js/header.js"></script>
</body>

</html>