body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
div {
    display: block;
}
.page_customer_account, .page_address, .page_order, .page_iwish, .page_viewed {
    padding: 20px 0;
    background: #f8f8f8;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
section {
    display: block;
}



.container {
    max-width: 1240px !important;
    padding: unset !important;
    width: 100% !important;
}

.container, .container-fluid {
    padding: unset;
}
.container, .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    max-width: 1140px;
}

.container {
    max-width: 960px;
}

.container {
    max-width: 720px;
}

.container {
    max-width: 540px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-left-ac {
    background-color: #FFF;
    width: 290px;
    margin-right: 30px;
    border: 2px solid #FFF;
    margin-bottom: 28px;
    border-radius: 8px;
}
.col-left-ac .block-account {
    height: 627px;
}
.col-left-ac .block-account .info1 {
    text-align: center;
    padding: 30px 19px;
}
.col-left-ac .block-account .info1 img {
    display: block;
    margin: 0 auto 20px;
    width: 50%;
}
img {
    border: 0 none;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}

.col-left-ac .block-account .info1 p {
    margin-bottom: 5px;
    font-size: 1.5rem;
}
p {
    margin: 0 0 15px 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.col-left-ac .block-account .info1 a {
    display: block;
    line-height: 24px;
    background: #0077C0;
    color: #FFF;
    border-radius: 12px;
    font-size: 1.5rem;
}
a, .text-link {
    text-decoration: none;
}


.col-left-ac .block-account ul {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none outside;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    font-size: 1.5rem;
}
.col-left-ac .block-account ul li:nth-child(1) .title-info {
    background-image: url(https://bizweb.dktcdn.net/100/438/408/themes/930060/assets/acc_user_1.svg);
}
.col-left-ac .block-account ul li .title-info {
    line-height: 40px;
    display: block;
    padding: 0 10px 0 50px;
    background-position: 18px 10px;
    background-repeat: no-repeat;
}
a, .text-link {
    color: #000;
    text-decoration: none;
    background: transparent;
}
a {
    color: #000;
}

.col-left-ac .block-account ul li:nth-child(3) .title-info.active {
    background-image: url(https://bizweb.dktcdn.net/100/438/408/themes/930060/assets/acc_user_3_hover.svg);
}
.col-left-ac .block-account ul li:nth-child(3) .title-info {
    background-image: url();
}
.col-left-ac .block-account ul li .title-info:hover, .col-left-ac .block-account ul li .title-info.active {
    background-color:lightblue;
    color: #0077C0;
}
.col-left-ac .block-account ul li .title-info {
    line-height: 40px;
    display: block;
    padding: 0 10px 0 50px;
    background-position: 18px 10px;
    background-repeat: no-repeat;
}
.col-left-ac .block-account ul li:nth-child(2) .title-info {
    background-image: url(https://bizweb.dktcdn.net/100/438/408/themes/930060/assets/acc_user_2.svg);
}
.page_customer_account.page-change .col-right-ac {
    position: relative;
    margin-bottom: 90px;
}
.col-right-ac {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
    max-width: calc(100% - 320px); 
    box-sizing: border-box;
    border: 1px solid #ddd; 
}
.col-right-ac .title-head {
    padding: 18px 30px;
}
.col-right-ac .title-head {
    color: #438DBA;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #DDE1EF;
    padding: 18px 65px;
    margin: 0;
    position: relative;
}
h1 {
    line-height: 1.4;
    font-weight: 500;
}
.page_customer_account.page-change .col-right-ac form {
    padding: 20px 30px;
}
.page_customer_account.page-change .col-right-ac form {
    padding: 20px 65px;
    position: relative;
    height: calc(100% - 59px);
}
form {
    margin-bottom: 30px;
}
input {
    display: inline-block;
    width: auto;
}
input, textarea, select, fieldset {
    border-radius: 0;
    max-width: 100%;
}
input, textarea, button, select {
    font-size: 1em;
}


button, input {
    overflow: visible;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.page_customer_account.page-change .col-right-ac form .form-group {
    position: relative;
}
.form-group {
    margin: 0;
    padding: 0 10px 8px;
    border: 0;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
label[for] {
    cursor: pointer;
}
label {
    display: inline-block !important;
}
label {
    display: block;
    font-weight: 400;
    font-size: 14px;
}
label {
    display: inline-block;
    margin-bottom: 1rem;
}
.page_customer_account.page-change .col-right-ac form .form-group .form-control {
    width: 50%;
    height: 48px;
    border: 1px solid #DDE1EF;
    margin-bottom: 12px;
}
.form-group .form-control {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-image: none;
    margin-bottom: 15px;
    border: 1px solid #EAEBF3;
    box-shadow: none;
    border-radius: 3px;
}
.form-group input, .form-group select {
    height: 40px;
}

.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page_customer_account.page-change .col-right-ac form .form-group a.forgot {
    position: absolute;
    bottom: 34px;
    left: calc(50% + 18px);
    color: #7A7A9D;
    font-family: 'Lato', sans-serif;
}
.page_customer_account.page-change .col-right-ac form .btn-page {
    position: absolute;
    bottom: -68px;
    right: 0;
    margin: 0;
}
.page_customer_account.page-change .col-right-ac form .btn-page a:not(.forgot) {
    background: lightblue;
    line-height: 48px;
    display: inline-block;
    vertical-align: top;
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
}
.page_customer_account.page-change .col-right-ac form .btn-page>* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    position: relative;
    text-align: center;
    color: #0077C0;
    font-size: 18px;
}
.page_customer_account.page-change .col-right-ac form .btn-page button {
    height: 48px;
    width: 280px;
    background: #0077C0;
    color: #FFF;
    margin-left: 15px;
    
}
.page_customer_account.page-change .col-right-ac form .btn-page>* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    position: relative;
    text-align: center;
    color: #0077C0;
    font-size: 18px;
}
.d-md-none {
    display: none!important;
}
