body {
    font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.col-right-ac {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
    max-width: calc(100% - 320px); 
    box-sizing: border-box;
    border: 1px solid #ddd; 
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
table {
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: #0077C0;
}
tr {
    display: table-row;
    vertical-align: center;
    border-color: #0077C0;
}
th {
    font-size: 1.4rem;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    border-top:1px solid #0077C0;
    border-bottom:1px solid #0077C0;

}
td {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
    border-top:1px solid #ccc;
    border-bottom:1px solid #CCC;
}
td {
    font-size: 1.2rem;
    padding: 18px;
    font-weight: 400;
}
td:first-child {
    color: #0077C0;
}
