
.container {
    font-size: 1.6rem; 
    background-color: #f8f9fa;
    border-radius: 15px;
    padding: 30px; 
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.address-title {
    font-size: 2.4rem; 
    display: flex;
    align-items: center;
    margin-bottom: 2rem; 
    color: #0056b3; 
}

.address-title .icon {
    margin-right: 15px;
    font-size: 2.2rem; 
    color: #28a745; 
}

.address-detail {
    margin: 10px 0; 
    font-size: 1.8rem; 
    color: #6c757d; 
}


.progress-tracker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: #f8f9fa; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.step {
    width: 20%;
    text-align: center;
    position: relative; 
}

.step::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -10%;
    width: 20%;
    height: 3px;
    background: #ddd; 
    z-index: -1;
}

.step:last-child::after {
    display: none; 
}

.step.completed {
    color: #28a745; 
}

.step.completed::after {
    background: #28a745; 
}

.step.completed .checkmark {
    display: inline-block; 
}

.step .icon {
    font-size: 28px; 
    margin-bottom: 10px;
}

.step .text {
    font-size: 1.4rem; 
}

.step .checkmark {
    font-size: 24px;
    color: #28a745; 
}



/* Order section styling */
.order-section {
    font-size: 1.6rem;
    background-color: #f8f9fa;
    padding: 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 10px; 
}


.section-title {
    color: black; 
}
.order-item {
    display: grid;
    grid-template-columns: 120px 1fr auto; 
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    transition: background-color 0.3s; 
}

.order-item:hover {
    background-color: #e9ecef; 
}


.product-image {
    width: 120px; 
    height: auto;
    border-radius: 5px; 
}

.item-details {
    margin-left: 20px;
    color: #343a40; 
}

.item-details p {
    margin: 5px 0;
}

.item-price {
    font-weight: bold;
    font-size: 1.8rem; 
}


.detail-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    flex-wrap: wrap; 
    border: 1px solid #ccc;
    background-color: #f8f9fa; 
}

.info-section {
    flex: 1 1 300px; 
    padding-right: 20px; 
}

.info-block {
    margin-bottom: 10px;
    display: flex; 
    align-items: center; 
    transition: box-shadow 0.3s ease;
}

.info-title {
    font-weight: bold;
    margin-right: 10px; 
    min-width: 150px; 
    text-align: left;
    color: #007bff;
}

.info-content {
    overflow-wrap: break-word; 
    text-align: left; 
    flex-grow: 1; 
}

.payment-info {
    flex: 1 1 auto; 
    text-align: right;
    padding-left: 20px; 
    align-self: center;
    justify-content: center;
}

.section-subtitle {
    margin: 0;
    text-align: left; 
}

.total-price {
    font-weight: bold;
    color: #000;
    font-size: 1.5rem;
    margin-left: 10px; 
}
.total-price1 {
    font-weight: bold;
    color: #007bff;
    font-size: 1.5rem;
    margin-left: 10px; 
}

.payment-info .section-subtitle,
.payment-info .total-price {
    display: inline-block; 
    margin-bottom: 10px; 
}
