<div class="account-information-container">
    <section class="account-menu">
        <div class="account-menu-header">
            <i class="fa-solid fa-user" style="color: var(--primary-color); font-size: 10rem; padding-top: 10%; padding-bottom: 1%"></i>
            <p style="font-weight: bold;">Lê Văn Khoa</p>
        </div>
        <div class="account-menu-detail">
            <a href="/account"><i class="fa-regular fa-user" style="padding-right: 3%; font-size:2.5rem;"></i>Tài khoản của tôi</a>
            <a href="/account/orderHistory"><i class="fa-regular fa-file-lines" style="padding-right: 3%; font-size:2.5rem;"></i>Lịch sử đơn hàng</a>
            <a href="/account/changePassword"><i class="fa-solid fa-key" style="padding-right: 3%; font-size:2.5rem;"></i>Đổi mật khẩu</a>
            <button class="btn-logout-acc">Đăng xuất</button>
        </div>
    </section>

    <aside>
        <h2 style="color: var(--primary-color)">Lịch sử đơn hàng</h2>
        <div class="order-history">
            <table class="order-history-table">
                <tr class="oh-title">
                    <th>STT</th>
                    <th>Mã đơn hàng</th>
                    <th>Ngày mua</th>
                    <th>Địa chỉ</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái</th>
                </tr>
                <tr class="oh-content">
                    <td>1</td>
                    <td>01</td>
                    <td>20/10/2021</td>
                    <td>KTX Khu A - ĐHQG TP.HCM</td>
                    <td>1.000.000đ</td>
                    <td>Đang giao hàng</td>
                </tr>
            </table>
        </div>
    </aside>
</div>