<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrenZ_Header</title>
    <link rel="stylesheet" href="/src/public/css/app.css/base.css">
    <link rel="stylesheet" href="/src/public/css/app.css/footer.css">
    <link rel="stylesheet" href="/assets/css/icon/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gfoogleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;500&family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="footer">
        <div class="footer_quote">
            <h1 class="footer_quote_content">
                Tren<span style="color: var(--primary-color)">Z</span> dẫn đầu xu hướng thời trang GENZ
            </h1>
            <p>Chúng tôi luôn không ngừng phát triển và ra mắt những 
            sản phẩm mới phù hợp với xu hướng thời trang trong thời đại thế hệ GenZ nhằm mang đến sự tươi mới, trẻ trung và trải 
            nghiệm tốt nhất cho khách hàng. </p>

            <p>Tren<span style="color: var(--primary-color)">Z</span> mong đợi nhận được mọi 
            ý kiến đóng góp từ khách hàng để có thể nâng cấp trải nghiệm dịch vụ và sản phẩm tốt hơn nữa trong tương lai.
            </p>

            <div class="footer_opinion">
                <a class="footer_opinion_link" href="" target="_blank" >Đóng góp ý kiến</a>
            </div>
        </div>
        <div class="footer_info">
            <div class="footer_address">
                <h1 class="footer_address_title">CÔNG TY CP THỜI TRANG TRENZ</h1>
                <p class="footer_address_content"><i class="footer_icon fa-solid fa-house"></i>
                    Địa chỉ: Đường Hàn Thuyên, khu phố 6 P, Thủ Đức, Thành phố Hồ Chí Minh.
                </p>
                <p class="footer_address_content"><i class="footer_icon fa-solid fa-phone-volume"></i> 
                    Liên hệ đặt hàng: 0909111222. <br>
                    Thắc mắc đơn hàng: 0909111333. <br>
                    Góp ý khiếu nại: 0909111444.
                </p>
                <p class="footer_address_content"><i class="footer_icon fa-solid fa-envelope"></i>
                    Email: chamsockhachhang@trenz.com
                </p>
                <p class="footer_address_content">
                    <i class="footer_icon fa-solid fa-file-lines"></i>
                    Chính sách <br>
                    Chính sách bảo hành, đổi/trả trong vòng 30 ngày. <br>
                    Chính sách bảo mật thông tin khách hàng.
                </p>
            </div>
            <div class="footer_social_link">
                <a href="" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="" target="_blank"><i class="fab fa-instagram-square"></i></a>
                <a href="" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                <a href="" target="_blank"><i class="fab fa-youtube-square"></i></a>
            </div>
        </div>

    </div>
</body>
</html>