<div class="header_sticky">
    <div id="header">
        <div class="header_logo">
            <a href="/"><img src="/img/Header_Logo_TrenZ.png" alt="logo" class="logo_img"></a>
        </div>
        <div class="header_search">
                <input class="header_search_input" type="text" name="search" placeholder="Tìm kiếm...">
                <button class="header_search_btn" type="submit"><i style="color:var(--white-color)" class="fas fa-search"></i></button>
        </div>
        <div class="header_hotline">
            <i class="fa-solid fa-phone-volume"></i>
            <p class="header_hotline_number">Hotline: 0393524189</p>
        </div>
    </div>
    <!-- NAVBAR SESSION -->
    <div id="navbar">
        <ul class="navbar_menu_list">
            <li><a href="/home">Trang chủ</a></li>
            <li><a href="/product">Nam</a></li>
            <li><a href="/womenProduct">Nữ</a></li>
            <li><a href="/childrenProduct">Trẻ em</a></li>
            <li><a href="/about">Về TrenZ</a></li>
        </ul>
        <div class="navbar_user">
            <!-- <a href=""><i class="navbar_btn fas fa-user"></i></a>
            <p class="login_user">khoalee</p> -->
            <p class="navbar_login_signup"> 
                <a class="navbar_login" href="">Đăng nhập</a>
                <a class="navbar_signup" href="">Đăng ký</a>
            </p>
        </div>
        <div class="navbar_cart">
            <a href=""><i class="navbar_btn fas fa-shopping-cart"></i></a>
        </div>
    </div>
</div>
