#admin-body {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px; 
}

#account-section {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    border: 1px solid gray;
}

#admin-table-section{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid gray; 
    border-radius: 8px;

}

.account-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: gray;
}

#btn-admin-logout {
    font-family: 'Kanit';
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
    width: 100%; 
    margin-top: 20px; 
    font-size: 1.75rem;
}

#btn-admin-add{
    font-family: 'Kanit';
    background-color: var(--primary-color);
    color: white;
    border: none;
    width: 200px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.75rem;
    text-align: center;
}

nav .menu-items{
    margin-top: 10px;
    height : calc (100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
    white-space: nowrap;
}

.menu-items li a{ 
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
}

.menu-items li a:hover *{ 
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}
.menu-items li:hover {
    border-radius: 4px; 
}

.icon-adminnav {
    min-width: 3rem;
    margin-right: 10px;
    color: var(--black-color);
}

.menu-items li a .link-name{
    font-family: 'Kanit';
    font-size: 2rem;
    font-weight: 500;
    color: var(--black-color);
}

.nav-links li a:hover .link-name,
.nav-links li a:hover .link-name i:hover{
    color: var(--primary-color);
}

.nav-admin-active{
    background-color: lightblue;
    border-radius: 4px; 
    color: var(--primary-color);
}

#admin-table-wapper{
    max-height: 600px;
    max-width: fit-content;
    overflow-y: scroll;
    margin-top: 20px;
    padding-right: 20px;
    border-radius: 8px;
}

#admin-table-content {
    border-collapse: collapse;
    border-spacing: 0px;
}

.admin-table-header {
    font-family: 'Kanit';
    background-color: var(--primary-color);
    color: white;
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ffffff;
    width: 250px;
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    position: sticky;
    top: 0;
}

.admin-table-td {
    font-family: 'Lato';
    text-align: center;
    width: max-content;
    white-space: nowrap;
    border: 1px solid #ffffff;
    font-size: 2rem;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
}

.admin-table-td-name {
    font-family: 'Lato';
    text-align: center;
    width: max-content;
    /*white-space: nowrap;*/
    line-height: 1.25;
    border: 1px solid #ffffff;
    font-size: 2rem;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: var(--primary-color);
    background-color: #ffffff;
}

.btn-admin-del,.btn-admin-change {
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

.btn-admin-del:hover{
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.btn-admin-change:hover{
    color: yellowgreen;
    cursor: pointer;
    text-decoration: none;
}

.update-data{
    text-decoration: none;
}

#admin-container-form {
    font-family: 'Kanit';
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#form-name{
    text-align: center;
    font-size: medium;
    font-size: 2.5rem;
    color: var(--primary-color);
}

#admin-form {
    display: flex;
    flex-direction: column;
    font-family: 'Kanit';

}
  
.form-row {
    margin-bottom: 20px;
}
  
.form-admin-label {
    font-size: 1.75em;
    display: block;
    margin-bottom: 5px;
}

.admin-input-text,
.admin-input-number,
.admin-input-file {
    font-size: 1.5rem;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.admin-input-file {
    padding: 8px 0;
}

.radio-options {
    display: flex;
    align-items: center;
}
  
.radio-options input[type="radio"] {
    margin-right: 10px;
    margin-left: 20px;
    cursor: pointer;
    
}

.size-inputs {
    display: flex;
    align-items: center;
}
  
.size-row {
    display: flex;
    align-items: center;
}
  
.size-item {
    margin-right: 20px;
}
  
.size-item:last-child {
    margin-right: 0;
}

#form-submit {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 2rem;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.help-text {
    font-size: 2rem;
    color: red;
    margin-top: 5px;
}