#cart{
    max-height: 500rem;
}
h4 {
    font-family: 'Kanit', sans-serif;
}
.cart_items {
    display: flex;
    justify-content: space-around;
    margin: 2rem 5rem;
}
.cart_list {
    flex:2;
    margin-right: 1.5rem
}
.cart_payment {
    flex:1;
}
.clear_cart {
    max-width: 18%;
    text-align: center;
    padding: 1.8rem 2rem;
    border-radius: 1.5rem;
    margin-left: auto;
    margin-top: 1rem;
    background-color: red;
}
.clear_cart a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--white-color); 
}
.clear_cart:hover {
    opacity: 50%;
    
}
.cart_list > p, .cart_list h4{
    display: inline-block;
    font-size: 2rem;
}
.cart_list > p {
    color:#7A7A9D;
    padding-left: 1.4rem;
}
.cart_list_item {
    display: flex;
}
.cart_noti {
    text-align: center;
    font-size: 2rem;
    margin: 3rem 0;
    font-weight: 600;
    color: var(--primary-color);
}
.cart_list_title table{
    width: 100%;
}
.cart_list_title table th {
    font-size: 1.8rem;
    text-align: center;
    padding: 1.4rem 3rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-family: 'Kanit', sans-serif;
}
.cart_list_title table tr td {
    font-size: 1.5rem;
    padding: 2rem 4rem;
    border-bottom: 1px solid #E0E0E0;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.cart_list_item_img {
    width: 90px;
    height: 120px;
    border-radius: 1.2rem;
}
.cart_list_item_info {
    padding-left: 1.4rem;
    max-width: 70%;
    text-align: left;

}
.cart_list_item_quantity {
    display: flex;
    max-width: 100px;
    text-align: left;   
}
.cart_list_item_quantity p {
    margin: 0 1rem;
    width: 30%;
}
.cart_list_item_quantity p, .cart_list_item_quantity a {
    text-align: center;
    font-size: 1.8rem;
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: var(--black-color);
}
.cart_list_item_quantity > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.8rem;
}
.cart_list_item_quantity > button:hover{
    color: var(--primary-color);
}
.cart_list_item_delete {
    background-color: transparent;
    border: none;
    color:red;
    cursor: pointer;
}
/*CART PAYMENT*/
.cart_payment h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.cart_payment p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.payment_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.6rem;
}
.cart_payment a:first-child {
    color: var(--primary-color);
    text-decoration: none;
}
.cart_payment a:first-child:hover {
    text-decoration: underline;
}
.cart_payment a:last-child {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--primary-color);
}
