
.change-password-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex-basis: 70%;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 100%;
}
.change-password-container h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.change-password-container .form-group {
    margin-bottom: 15px;
}
.change-password-container .form-group label {
    display: block;
    margin-bottom: 5px;
}
.change-password-container .form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.change-password-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.change-password-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.change-password-container .alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.change-password-container .alert-success {
    background-color: #d4edda;
    color: #155724;
}

.change-password-container .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.change-password-container .form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/***/

.main-body {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 0
    
}

.account-section { 
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    flex-basis: 30%;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}


.account-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.avatar-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #ccc;
}

.account-details {
    padding: 0 20px;
}
.account-details h1 {
    font-size: 12px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.btn.logout {
    background-color: #2234ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.detail-section {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
    max-width: calc(100% - 320px); 
    box-sizing: border-box;
    border: 1px solid #ddd; 
    
}



.profile-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
}


.menu-items h2 i {
    margin-right: 8px;
    min-width: 20px;
}
.menu-items {
    padding-left: 0; 
    list-style: none; 
}

.menu-items h2.active2 {
    background-color: #007bff; 
    color: rgb(255, 255, 255);
    padding: 8px; 
    border-radius: 4px; 
}

.menu-items h2 {
    font-size: 16px; 
    font-weight: bold; 
    margin-bottom: 10px;
    color: #0056b3; 
}







