<div id="about_trenZ">
            {{!-- <div class="product-link">
                <ul class="product-link-list">
                    <li class="product-link-list-item">
                        <a href="" class="product-link-list-item-link">TrenZ </a>
                        <i class="product-link-icon fa-solid fa-chevron-right"></i>
                    </li>
                    <li class="product-link-list-item">
                        <a href="" class="product-link-list-item-link">Về TrenZ</a>
                    </li>
                </ul>
            </div> --}}

            <div class="trenZ_content">
                <div class="trenZ_info">
                    <h2>CHÚNG TÔI LÀ AI</h2>
                    <h2>Trenz - Trendy and Genz</h2>
            
                    <p>Trenz là thương hiệu thời trang dẫn đầu xu hướng
                        hiện nay với phong cách đơn giản, sành điệu, sản phẩm
                        tiêu chuẩn cao dành cho giới trẻ Việt Nam tự tin thể hiện
                        cá tính của bản thân mình.</p>
                </div>
            </div>
            <div class="trenZ_sub_info">
                <div class="sub_info">
                    <img src="/img/trenz1.jpg" alt="banner-1" class="trenz_img">
                    <div class="sub_info_cite">\
                        <div class="sub_info_title">
                            <h3>Niềm tin của thế hệ trẻ</h3>
                            <h4>Young generation ally</h4>
                        </div>
                        <p>Sứ mệnh của Trenz là Cổ vũ cho thế hệ trẻ toàn thế giới tự do thể
                            hiện phong cách thông qua thời trang, thương hiệu vượt qua ranh
                            giới của thời trang đường phố bằng cách không ngừng sáng tạo các 
                            trang phục trong các bộ sưu tập độc đáo. Trenz mong muốn đồng hành 
                            và tôn vinh thế hệ trẻ tài năng qua những xu hướng thời trang và hoạt 
                            động cộng đồng sáng tạo. Từ đó tạo dấu ấn cho giá trị bền vững để cùng 
                            các tài năng trẻ phát triển.</p>
                        <div></div>
                    </div>
                </div>
                
                <div class="sub_info">
                    <img src="/img/trenz2.jpeg" alt="banner-2" class="trenz_img">
                    <div class="sub_info_cite">
                        <div class="sub_info_title">
                            <h3>Mặc đẹp để cuộc sống tốt hơn</h3>
                            <h4>The first step to better vibes</h4>
                        </div>
                        <p>Tầm nhìn độc đáo của Trenz chính là để mỗi cá nhân thể hiện phong 
                            cách khi khoác lên mình những sản phẩm được tạo nên từ sự đam mê,
                            mang giá trị của thế hệ mới, năng động và luôn không ngừng khẳng 
                            định bản thân, hướng đến tương lai. <br> <br>
                            Sự đầu tư chất lượng từ đóng gói, bao bì sản phẩm đến mỗi thước phim 
                            , hình ảnh cho tới cách làm chủ đề nghệ thuật đặc sắc màu và chỉn chu 
                            trong từng chi tiết đã đưa Trenz trở thành một trong những thương hiệu
                            thời trang hàng đầu được giới trẻ yêu thích, tin dùng tại Việt Nam.
                        </p>

                        <div></div>
                    </div>
                </div>

            </div>

        </div>