<div class="main-body">
  <!-- Nội dung chính của trang thay đổi mật khẩu -->
  <div class="change-password-container">
    <h1>Đổi Mật Khẩu</h1>
    {{#if status.success}}
      <div class="alert alert-success">{{status.success}}</div>
    {{/if}}
    {{#if status.error}}
      <div class="alert alert-danger">{{status.error}}</div>
    {{/if}}
    <form action="/changePassword" method="post">
      <!-- Các trường form -->

      <div class="form-group">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required>
      </div>

      <div class="form-group">
        <label for="oldPassword">Mật khẩu cũ:</label>
        <input type="password" id="oldPassword" name="oldPassword" required>
      </div>
      
      <div class="form-group">
        <label for="newPassword">Mật khẩu mới:</label>
        <input type="password" id="newPassword" name="newPassword" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Xác nhận mật khẩu mới:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
      </div>
      
      <button type="submit">Thay đổi</button>
    </form>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const changePasswordForm = document.querySelector('form');

    changePasswordForm.addEventListener('submit', function(event) {
        const oldPassword = document.getElementById('oldPassword').value;
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        console.log('Old Password:', oldPassword);
        console.log('New Password:', newPassword);
        console.log('Confirm New Password:', confirmPassword);

        // Kiểm tra xem mật khẩu mới và xác nhận mật khẩu có khớp nhau không
        if (newPassword !== confirmPassword) {
            alert('Mật khẩu mới và xác nhận mật khẩu không khớp.');
            event.preventDefault();
            return;
        }
    });
});

</script>
