<div class="page-content-account">
    <div class="container">
        <div class="d-group">
            <!-- <div class="right-col"> -->
            <div class="group-reg group-log">
                <div class="mb page-signup-text">
                    Chào mừng bạn đến với Tren<span class="page-signup-title page-signup-title-blue">Z</span>!
                </div>
                <h1 class="d-block">
                    <span class="page-signup-title page-signup-title-darkblue">ĐĂNG</span>
                    <span class="page-signup-title page-signup-title-blue">NHẬP</span>
                </h1>
                <form method="post" action="/login/checklog" id="customer-login" accept-charset="UTF-8">
                    <input name="FormType" type="hidden" value="customer-login">
                    <input name="UTF-8" type="hidden" value="true">

                    <fieldset class="form-group">
                        <input type="text" class="form-control form-control-comment form-control-lg" name="username"
                            id="username" placeholder="Tên tài khoản" required> 
                        <div class="page-signup-error mb">
                        </div>
                    </fieldset>

                    <fieldset class="form-group">
                            <input type="password" class="form-control form-control-lg" name="password" id="password"
                                placeholder="Mật khẩu" required>
                            <span class="showpass" id="controlPass"></span>
                        <div class="page-signup-error mb">
                        </div>
                    </fieldset>
                    <div class="sign-up-actions">
                        <button id="btnSubmit" class="btn-login btn-reg" value="Đăng nhập" type="submit">Đăng
                            nhập</button>
                    </div>
                    <p class="forgot">
                        <a class="forgot-pass" href="#">Quên mật khẩu</a>
                    </p>
                </form>
                <div class="regi-log">
                    <span>Bạn chưa có tài khoản?</span>
                    <a href="/register">Đăng ký ngay!</a>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</div>

<script>
    const pass = document.querySelector('#controlPass');
    const password = document.querySelector('#password');
    pass.addEventListener('click', function (e) {
        // Check that the class of id ControlPas contain showpass or not
        if (this.classList.contains('showpass')) {
            this.classList.remove('showpass');
            this.classList.add('hidded');
        } else {
            this.classList.remove('hidded');
            this.classList.add('showpass');
        }
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
    });
    /* const username = document.querySelector(".login_user");
    const navbar_login_signup = document.querySelector(".navbar_login_signup");
    username.style.display = 'none';
    if(username.textContent != 'undefined' && username.textContent != ''){
        console.log(username.innerHTML);
        username.style.display = 'block';
        navbar_login_signup.style.display = 'none';
    } */
</script>
