<form method="post" action="/login/checklog">
    <div class="form-group">
        <label for="id">Mã sản phẩm</label>
        <input type="text" class="form-control" id="id" name="id" placeholder="Product ID">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>