<form method="post" action="/product/storeProduct">
    <div class="form-group">
        <label for="id">Mã sản phẩm</label>
        <input type="text" class="form-control" id="id" name="id" placeholder="Product ID">
    <div class="form-group">
        <label for="name">Tên sản phẩm</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Product Name">
    </div>
    <div class="form-group">
        <label for="category">Loại sản phẩm</label>
        <input type="text" class="form-control" id="category" name="category" placeholder="Product Category">
    </div>
    <div class="form-group">
        <label for="price">Giá sản phẩm</label>
        <input type="text" class="form-control" id="price" name="price" placeholder="Product Price">
    </div>
    <div class="form-group">
        <label for="amount">Số lượng sản phẩm</label>
        <input type="text" class="form-control" id="amount" name="amount" placeholder="Product Amount">
    </div>
    <div class="form-group">
        <label for="description">Mô tả sản phẩm</label>
        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>